h1 {
    text-align: center;
}

input {
    width: 100%;
}

button {
    border: none;
    border-radius: 3px;
    width: 100%;
}

.card {
    background-color: rgb(46, 54, 205);
}

img {
    width: 3rem;
}